@model IEnumerable<Ads.Models.Category>

@{
    ViewBag.Title = "ViewAllCat";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 align="center">ViewAllCat</h2>

@using Ads.Models;
@using System;


<table class="table table-bordered table-hover" cellspacing="20px" cellpadding="20px" border="1" align="center">

    <tr><th>ID</th><th>Name</th><th>Delete</th></tr>

    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>@u.Name</td>
            <td><a href="/Admin/DeleteCat?Id=@u.Id">Delete</a></td>

        </tr>

    }


</table>

<div align="center">

    <form action="/Admin/AddCat">

        <input type="text" name="Name" placeholder="Enter New Category" />
        <input type="submit" value="Add"/>

    </form>

</div>
